.btn {
    margin: 0.5%;
}

#header_top {
    margin: 1% 0% 0% 0%;
}

#menu li {
    font-size: large;
    margin: 1% 0%;
    text-align: center;
    background-color: rgb(200, 200, 200);
	shape-outside: border-box;
	border-radius: 2%;
}

#footer {
    margin: 4% 0%;
    background-color: rgb(200, 200, 200);
    padding: 3% 0%;
}

h1 {
	font-family: 'Amatic SC', cursive;
}

.tile {
	margin: 3%;
	shape-outside: border-box;
	border-radius: 2%;
}

.tag_0_colour {
	background-color: rgb(132, 109, 116);
}
.tag_5_colour {
	background-color: rgb(211, 201, 206);
}
.tag_6_colour {
	background-color: rgb(110, 118, 73);
}
.tag_7_colour {
	background-color: rgb(157, 151, 84);
}
.tag_8_colour {
	background-color: rgb(228, 153, 105);
}
.tag_9_colour {
	background-color: rgb(231, 227, 181);
}
.tag_10_colour {
	background-color: rgb(238, 197, 169);
}
.tag_11_colour {
	background-color: rgb(180, 168, 81);
}
.tag_12_colour {
	background-color: rgb(172, 112, 61);
}