.btn {
    margin: 0.5%;
}

#header_top {
    margin: 1% 0% 0% 0%;
}

#menu li {
    font-size: large;
    margin: 1% 0%;
    text-align: center;
    background-color: rgb(200, 200, 200);
}

#footer {
    margin: 4% 0%;
    background-color: rgb(200, 200, 200);
    padding: 3% 0%;
}

.tagIcon {
	background: rgb(200, 200, 200);
	margin: 0.5%;
}


