{% extends "basepage.html" %}

    {% block title %}Tell Me a Story: {{ page_title }}{% endblock %}

    {% block main %}
    <h2>What is Tell Me a Story?</h2>
    <p class="lead">Tell Me a Story is the idea of Jack Sanderson-Thwaite, a writer, and Amy Ruffle, a developer.</p>
    <p>In bed at the end of the day Amy often found herself wanting Jack to tell her a story. It helped her switch off
        and go to sleep. Sometimes novels and podcasts just didn't do the job - even the more escapist ones could have
        exciting, funny and scary sections.</p>
    <p>They wondered whether other people had the same problem, and might like to have a collection of stories selected
        specifically for their calming quality. So they built Tell Me a Story.</p>
    {% endblock %}